/* ==========================================================================
   Sass variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size: 16;
$doc-line-height: 30;
$paragraph-indent: 0;
$base-font: 'PT Serif', serif;
$heading-font: 'PT Sans Narrow', sans-serif;
$code-font: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
$alt-font: $base-font;

/*
   Colors
   ========================================================================== */

$bodycolor      : linear-gradient(to bottom right, ##000000, #5e3883);
$body-color     : $bodycolor;
$textcolor      : #fff;
$text-color     : $textcolor;
$border-color   : #9866a8;
$basecolor 		  : #fff ;
$compcolor 		  : spin($basecolor, 180);
$bordercolor    : #5e3883 ;
$white          : #fff ;
$black          : #000000;
$accentcolor    : #000000 ;

/* buttons */
$primary			: #9866a8;
$success			: #9866a8;
$warning			: #9866a8 ;
$danger				: #9866a8;
$info				  : #9866a8;

/* brands */
$facebook-color     : #fff ;
$flickr-color       : #fff ;
$foursquare-color   : #fff ;
$google-plus-color  : #fff;
$instagram-color    : #fff;
$linkedin-color     : #fff ;
$pinterest-color    : #fff ;
$rss-color          : #fff ;
$tumblr-color       : #fff ;
$twitter-color      : #fff ;
$vimeo-color        : #fff ;
$youtube-color      : #fff ;

/* links */
$linkcolor 		    :#5e3883 ;
$link-color       : #5e3883 ;
$linkcolorhover 	: lighten($linkcolor, 10);
$linkcolorvisited : ligthen($linkcolor, 1);
$linkcolorfocus 	: lighten($linkcolor, 10);

/*
   Breakpoints
   ========================================================================== */

$micro            : "only screen and (min-width: 30em)";
$small            : "only screen and (min-width: 37.5em)";
$medium           : "only screen and (min-width: 48em)";
$large            : "only screen and (min-width: 62em)";
$x-large          : "only screen and (min-width: 86.375em)";
